@tailwind base;
@tailwind components;
@tailwind utilities;

.angie-link {
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 0.16px;
  text-decoration-line: underline;

  /* text/label */

  color: #4e596a;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

@layer base {
  input[type="text"],
  input[type="time"],
  textarea {
    @apply border border-b-[1px] border-gray-300 placeholder:text-gray-400 rounded-md;
  }

  input[type="text"],
  input[type="time"] {
    @apply sm:py-1 sm:px-2 md:px-3 md:py-2;
  }
}

@layer utilities {
  .error {
    @apply border border-b-2 border-red-500 focus:ring-red-500 focus:border-red-500;
  }
}
