@tailwind base;
@tailwind components;
@tailwind utilities;

.angie-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 0.16px;
  text-decoration-line: underline;

  /* text/label */

  color: #4e596a;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}


